!!!
%html{lang: "en"}
  %head
    %meta{ content: "width=device-width, initial-scale=1", name: "viewport"}/
    %title Agrikol
    %link{ href: "assets/css/agrikol.css", rel: "stylesheet", type: "text/css"}/
  %body
    %header
      %section
        %h1 Agrikol
    %section.agrikol-info
      .agrikol-info-hours
        %h3.underline.yellow Hours
        %dl
          %dt Thursday - Monday
          %dd
            Food from 6pm to midnight
            %br/
            Drinks late
          %dt Tuesday & Wednesday
          %dd Closed
      .agrikol-info-location
        %h3 1844 Rue Amherst - The Village
      .agrikol-info-reservations
        %h3 No Reservations
        %p
          %a{ href: "mailto:info@agrikol.ca"} Email us for bookings of 15 - 25
      .agrikol-info-description
        %h3 Hatian Food!
        %h3 Hatian Vibes!
        %h3 Rum Cocktails!
    %section.agrikol-drinks
      .agrikol-drinks-menu
        %h3.underline.pink &laquo;Koktel&raquo; Nouveaux

        %dl.agrikol-drinks-list
          %dt.drink
            %span.drink-name Kafe
            %span.drink-price 14
          %dd.drink-description Flor de Cana 12 / cafe / Bitters
          %dt.drink
            %span.drink-name Kokonut
            %span.drink-price 14
          %dd.drink-description Appleton / fruit de la pasion coco / mandarine
          %dt.drink
            %span.drink-name Mant
            %span.drink-price 12
          %dd.drink-description Havana 3 / Suze / menthe gingembre
          %dt.drink
            %span.drink-name Aniset
            %span.drink-price 12
          %dd.drink-description Barbancourt White, amande, citron vert, pastis
          %dt.drink
            %span.drink-name Zanana
            %span.drink-price 18
          %dd.drink-description Appleton, ananas, chartreuse, coco

        %h3.underline.teal &laquo;Koktel&raquo; Anciens

        %dl.agrikol-drinks-list
          %dt.drink
            %span.drink-name Poncho Oloffson
            %span.drink-price 14
          %dd.drink-description Barbancourt 3, maraschino, orange, citron vert
          %dt.drink
            %span.drink-name Dark and Stormy
            %span.drink-price 10
          %dd.drink-description rhums, lime, biere de gingembre
          %dt.drink
            %span.drink-name Queens Park Swizzle
            %span.drink-price 12
          %dd.drink-description El Dorado 3, menthe, bitters
          %dt.drink
            %span.drink-name Rhum Sazerac
            %span.drink-price 12
          %dd.drink-description Barbancourt 3, Peychaud's, chartreuse
          %dt.drink
            %span.drink-name Suburban
            %span.drink-price 14
          %dd.drink-description rye, rhum, porto, bitters
      .agrikol-drinks-feature
        %h3 Rolly's Rhum Corner
        %p Double Barbancourt, Coca-Cola, citron vert
        %span.price 12

        %p 1/4 bouteille / 1/2 bouteille / bouteille pleine
        %span.price 35/65/120

      .agrikol-drinks-feature
        %h3 Ti Ponch
        %p Double Barbancourt agricole, citron vert, sirop de canne
        %span.price 10

        %p 1/4 bouteille / 1/2 bouteille / bouteille pleine
        %span.price 30/60/100
    %section.agrikol-menu
      .agrikol-menu-small-plates
        %dl
          %h3.underline.pink Petits Plats
          %dt Pate chaud
          %dd 5
          %dt Bananes pesees (plantain)
          %dd 4
          %dt Accras (Haitian beignets)
          %dd 7
          %dt Riz avec pois (rice and beans)
          %dd 5
          %dt Salad d'avocat
          %dd 11
          %dt Macaroni au gratin
          %dd 8
          %dt Griot
          %dd 12
          %dt Ceviche de lambi (conch)
          %dd 13
        %dl
          %h3.underline.pink Snak
          %dt Pate cho
          %dd 5
          %dt Bannan peze (plantain)
          %dd 4
          %dt Akra
          %dd 7
          %dt Diri kole
          %dd 5
          %dt Salad zaboka
          %dd 11
          %dt Gratine makaroni
          %dd 8
          %dt Gryo
          %dd 12
          %dt Lanbi sevitche
          %dd 13
      .agrikol-menu-large-plates
        %dl
          %h3.underline.yellow Grands Plats
          %dt Cotelette de porc
          %dd 15
          %dt Queue de boeuf, sauce pois
          %dd 16
          %dt Chevre avec legumes
          %dd 15
          %dt Poulet a la noix de cajou
          %dd 14
          %dt Poisson entier frit
          %dd p.d.m
        %dl
          %h3.underline.yellow Pla
          %dt Kotlet kochon
          %dd 15
          %dt Ke bef ak sos prva
          %dd 16
          %dt Legim kabrit
          %dd 15
          %dt Poul ak nwa kajou
          %dd 14
          %dt Pwason antye fri
          %dd p.m
      .agrikol-menu-desserts
        %dl
          %h3.underline.teal Dessert
          %dt Pain patate
          %dd 7
        %dl
          %h3.underline.teal Dese
          %dt Pen patat
          %dd 7
    %footer
      %section
        %h1 Agrikol
