!!!
%html{lang: "en"}
  %head
    %meta{ content: "width=device-width, initial-scale=1", name: "viewport"}/
    %title Agrikol
    %link{ href: "assets/css/agrikol.css", rel: "stylesheet", type: "text/css"}/
  %body
    %header
      %section
        %ul.language
          %li Fr
          %li
            %a{href: "/index_en.html"} En
        %h1 Agrikol
    %section.agrikol-info
      .agrikol-info-hours
        %h3.underline.yellow Heures
        %dl
          %dt FERMETURES DE VACANCES
          %dd
            Du 24 au 26 décembre
            %br
            31 décembre
            %br
            1er janvier
        %dl
          %dt Ouvert tous les jours
          %dd
            On Mange entre 6pm et minuit
            %br/
            On boit jusqu'&agrave; tard
      .agrikol-info-location
        %h3 1844 Rue Amherst - Le Village
      .agrikol-info-reservations
        %h3 Pas de R&eacute;servations
        %p
          %a{ href: "mailto:info@agrikol.ca"} Contactez-nous pour les r&eacute;servations de 15-25
      .agrikol-info-description
        %h3 Haitian Food!
        %h3 Haitian Vibes!
        %h3 Rum Cocktails!
    %section.agrikol-drinks
      .agrikol-drinks-menu
        %h3.underline.pink &laquo;Koktel&raquo; Nouveaux

        %dl.agrikol-drinks-list
          %dt.drink
            %span.drink-name Kafe
            %span.drink-price 14
          %dd.drink-description Flor de Ca&ntilde;a 12 / caf&eacute; / bitters
          %dt.drink
            %span.drink-name Kokonut
            %span.drink-price 14
          %dd.drink-description Appleton / fruit de la pasion / coco / mandarine
          %dt.drink
            %span.drink-name Mant
            %span.drink-price 12
          %dd.drink-description Havana 3 / Suze / menthe / gingembre
          %dt.drink
            %span.drink-name Anis&egrave;t
            %span.drink-price 12
          %dd.drink-description Barbancourt White / amande / citron vert / pastis
          %dt.drink
            %span.drink-name Zanana (pour deux)
            %span.drink-price 20
          %dd.drink-description Appleton / ananas / Chartreuse / coco

        %h3.underline.teal &laquo;Koktel&raquo; Anciens

        %dl.agrikol-drinks-list
          %dt.drink
            %span.drink-name Ponch Oloffson
            %span.drink-price 12
          %dd.drink-description Barbancourt 3 / maraschino / orange / citron vert
          %dt.drink
            %span.drink-name Dark and Stormy
            %span.drink-price 10
          %dd.drink-description rhums / lime / bi&egrave;re de gingembre
          %dt.drink
            %span.drink-name Queens Park Swizzle
            %span.drink-price 12
          %dd.drink-description El Dorado 3 / menthe / bitters
          %dt.drink
            %span.drink-name Rhum Sazerac
            %span.drink-price 14
          %dd.drink-description Barbancourt 3 / Peychaud's / Chartreuse
          %dt.drink
            %span.drink-name Suburban
            %span.drink-price 14
          %dd.drink-description rye / rhum / porto / bitters
      .agrikol-drinks-feature
        %h3 Rolly's Rhum Corner
        %p Double Barbancourt / Coca-Cola / citron vert
        %span.price 12

        %p 1/4 bouteille / 1/2 bouteille / bouteille pleine
        %span.price 38 / 70 / 130

      .agrikol-drinks-feature
        %h3 Ti Ponch
        %p Double Barbancourt agricole / citron vert / sirop de canne
        %span.price 10

        %p 1/4 bouteille / 1/2 bouteille / bouteille pleine
        %span.price 33 / 65 / 110
    %section.agrikol-menu
      .agrikol-menu-small-plates
        %dl
          %h3.underline.pink Petits Plats
          %dt P&acirc;t&eacute; chaud
          %dd 6
          %dt Bananes pes&eacute;es (plantain)
          %dd 5
          %dt Accras (Haitian beignets)
          %dd 7
          %dt Riz avec pois (rice and beans)
          %dd 5
          %dt Salad d'avocat
          %dd 11
          %dt Macaroni au gratin
          %dd 9
          %dt Griot
          %dd 13
          %dt C&eacute;vich&eacute;
          %dd 13

      .agrikol-menu-large-plates
        %dl
          %h3.underline.yellow Grands Plats
          %dt Lambi et riz
          %dd 20
          %dt Queue de boeuf, sauce pois
          %dd 17
          %dt Ma&iuml;s moulu et legumes
          %dd 18
          %dt Poulet &agrave; la noix de cajou
          %dd 16
          %dt Poisson entier frit
          %dd p.d.m

      .agrikol-menu-desserts
        %dl
          %h3.underline.teal Dessert
          %dt Pain patate
          %dd 9

    %footer
      %section
        %h1 Agrikol
