@import url(https://fonts.googleapis.com/css?family=Delius|Grand+Hotel);
@import "normalize.css";

$delius: 'Delius', cursive;
$grand: 'Grand Hotel', cursive;

body {
  background: #fff;
  font-family: $grand;
  font-size: 18px;
  font-style: italic;

  h3 {
    font-family: $delius;
    font-size: 15px;
    font-weight: normal;
    text-transform: uppercase;
  }
  dl {
    dt {
      font-family: $delius;
      font-size: 15px;
      text-transform: uppercase;
    }
    dd {
      margin: 0;
      padding: 0;
    }
  }
  section {
    max-width: 900px;
    margin: 0 auto;
    padding: 100px 20px;
    position: relative;
    &::after {
      border: 1px solid #000;
      content: " ";
      position: absolute; left: 20px; right: 20px; bottom: 0;
      height: 3px;
      width: calc(100% - 40px);
    }
  }
}

header {
  background: #88d7b3;
  height: 250px;
  h1 {
    background: blue;
    height: 170px;
    margin: 0;
    padding: 0;
    position: absolute; top: 220px;
    width: 330px;
  }
  section {
    padding: 0 20px;
    &::after {
      display: none;
    }
  }
}

.agrikol-info {
  margin-top: 50px;
  padding-top: 0;
  overflow: hidden;
  .agrikol-info-hours {
    float: left;
    margin-top: 100px;
    width: 48%;
  }
  .agrikol-info-location,
  .agrikol-info-reservations,
  .agrikol-info-description {
    border: 1px solid #000;
    float: right;
    margin: 0 0 20px 0;
    padding: 10px;
    position: relative;
    text-align: center;
    width: 48%;
    &::before {
      border: 1px solid #000;
      content: " ";
      position: absolute; left: 4px; top: 4px;
      height: calc(100% - 10px);
      width: calc(100% - 10px);
    }
  }
}

.agrikol-drinks,
.agrikol-menu {
  overflow: hidden;
  dl {
    float: left;
    width: 48%;
    &:nth-child(odd) {
      margin-right: 4%;
    }
  }
}

.agrikol-menu {
  dl {
    text-align: right;
    h3 {
      text-align: left;
    }
    dt {
      font-family: $grand;
      font-size: 18px;
      float: left;
      text-transform: none;
    }
    dd {
      margin-bottom: 5px;
    }
  }
}
