@import url(https://fonts.googleapis.com/css?family=Delius|Grand+Hotel);
@import url(normalize.css);
body {
  background: #fff;
  font-family: "Grand Hotel", cursive;
  font-size: 18px;
  font-style: italic; }
  body h3 {
    font-family: "Delius", cursive;
    font-size: 15px;
    font-weight: normal;
    text-transform: uppercase; }
  body dl dt {
    font-family: "Delius", cursive;
    font-size: 15px;
    text-transform: uppercase; }
  body dl dd {
    margin: 0;
    padding: 0; }
  body section {
    max-width: 900px;
    margin: 0 auto;
    padding: 100px 20px;
    position: relative; }
    body section::after {
      border: 1px solid #000;
      content: " ";
      position: absolute;
      left: 20px;
      right: 20px;
      bottom: 0;
      height: 3px;
      width: calc(100% - 40px); }

header {
  background: #88d7b3;
  height: 250px; }
  header h1 {
    background: blue;
    height: 170px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 220px;
    width: 330px; }
  header section {
    padding: 0 20px; }
    header section::after {
      display: none; }

.agrikol-info {
  margin-top: 50px;
  padding-top: 0;
  overflow: hidden; }
  .agrikol-info .agrikol-info-hours {
    float: left;
    margin-top: 100px;
    width: 48%; }
  .agrikol-info .agrikol-info-location,
  .agrikol-info .agrikol-info-reservations,
  .agrikol-info .agrikol-info-description {
    border: 1px solid #000;
    float: right;
    margin: 0 0 20px 0;
    padding: 20px;
    position: relative;
    text-align: center;
    width: 47%; }
    .agrikol-info .agrikol-info-location::before,
    .agrikol-info .agrikol-info-reservations::before,
    .agrikol-info .agrikol-info-description::before {
      border: 1px solid #000;
      content: " ";
      position: absolute;
      left: 4px;
      top: 4px;
      height: calc(100% - 10px);
      width: calc(100% - 10px); }

.agrikol-drinks,
.agrikol-menu {
  overflow: hidden; }
  .agrikol-drinks dl,
  .agrikol-menu dl {
    float: left;
    width: 48%; }
    .agrikol-drinks dl:nth-child(odd),
    .agrikol-menu dl:nth-child(odd) {
      margin-right: 4%; }

.agrikol-drinks .agrikol-drinks-menu {
  float: left;
  width: 43%; }
  .agrikol-drinks .agrikol-drinks-menu dl {
    float: none;
    width: auto; }
  .agrikol-drinks .agrikol-drinks-menu .drink-price {
    float: right; }
  .agrikol-drinks .agrikol-drinks-menu .drink-description {
    margin-bottom: 30px; }

.agrikol-drinks .agrikol-drinks-feature {
  border: 1px solid #000;
  float: right;
  padding: 20px;
  position: relative;
  margin-bottom: 30px;
  text-align: center;
  width: 47%; }
  .agrikol-drinks .agrikol-drinks-feature::before {
    border: 1px solid #000;
    content: " ";
    position: absolute;
    left: 4px;
    top: 4px;
    height: calc(100% - 10px);
    width: calc(100% - 10px); }

.agrikol-menu dl {
  text-align: right; }
  .agrikol-menu dl h3 {
    text-align: left; }
  .agrikol-menu dl dt {
    font-family: "Grand Hotel", cursive;
    font-size: 18px;
    float: left;
    text-transform: none; }
  .agrikol-menu dl dd {
    margin-bottom: 5px; }
