@import url(https://fonts.googleapis.com/css?family=Delius|Grand+Hotel);
@import url(normalize.css);
body {
  background: #fff;
  font-family: "Grand Hotel", cursive;
  font-size: 18px;
  font-style: italic; }
  body h3 {
    font-family: "Delius", cursive;
    font-size: 15px;
    font-weight: normal;
    position: relative;
    text-transform: uppercase; }
    body h3.yellow:before {
      background: #f3ff8c; }
    body h3.pink:before {
      background: #f8c4cc; }
    body h3.teal:before {
      background: #c5f8f0; }
    body h3.underline {
      margin-bottom: 40px; }
      body h3.underline:after {
        border: 1px solid #000;
        content: "";
        height: 1px;
        position: absolute;
        left: 0;
        bottom: -10px;
        width: 100%; }
      body h3.underline:before {
        content: "";
        height: 3px;
        position: absolute;
        left: 2px;
        bottom: -11px;
        width: 100%; }
  body dl dt {
    font-family: "Delius", cursive;
    font-size: 15px;
    text-transform: uppercase; }
  body dl dd {
    margin: 0;
    padding: 0; }
  body section {
    max-width: 840px;
    margin: 0 auto;
    padding: 40px 20px;
    position: relative; }
    body section::after {
      border: 1px solid #000;
      content: " ";
      position: absolute;
      left: 20px;
      right: 20px;
      bottom: 8px;
      height: 1px;
      width: calc(100% - 40px); }

header {
  background: rgba(117, 217, 173, 0.7);
  height: 250px;
  position: relative; }
  header h1 {
    background: url("../images/logo.png") 0 0 no-repeat;
    background-size: 100%;
    height: 115px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 220px;
    text-indent: -99999px;
    width: 330px; }
  header section {
    padding: 0 20px; }
    header section::after {
      display: none; }
  header::after {
    content: "";
    background-image: url("../images/masthead.jpg");
    background-position: center center;
    background-size: cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; }

.agrikol-info {
  margin-top: 50px;
  padding-top: 0;
  overflow: hidden; }
  .agrikol-info dd {
    margin-bottom: 40px;
    line-height: 26px; }
  .agrikol-info .agrikol-info-hours {
    float: left;
    margin-top: 80px;
    width: 45%; }
  .agrikol-info .agrikol-info-location,
  .agrikol-info .agrikol-info-reservations,
  .agrikol-info .agrikol-info-description {
    border: 1px solid #000;
    float: right;
    margin: 0 0 20px 0;
    padding: 20px;
    position: relative;
    text-align: center;
    width: 45%; }
    .agrikol-info .agrikol-info-location::before,
    .agrikol-info .agrikol-info-reservations::before,
    .agrikol-info .agrikol-info-description::before {
      border: 1px solid #000;
      content: " ";
      position: absolute;
      left: 4px;
      top: 4px;
      height: calc(100% - 10px);
      width: calc(100% - 10px); }
  .agrikol-info .agrikol-info-reservations h3:before, .agrikol-info .agrikol-info-reservations h3:after {
    content: "-"; }
  .agrikol-info .agrikol-info-description:after {
    content: "";
    background: url("../images/flower.png") 0 0 no-repeat;
    background-size: 100%;
    height: 70px;
    width: 100px;
    top: 33px;
    left: -65px;
    bottom: 0;
    right: 0;
    position: absolute; }

.agrikol-drinks,
.agrikol-menu {
  overflow: hidden; }
  .agrikol-drinks dl,
  .agrikol-menu dl {
    float: left;
    width: 45%; }
    .agrikol-drinks dl:nth-child(odd),
    .agrikol-menu dl:nth-child(odd) {
      margin-right: 4%; }

.agrikol-drinks .agrikol-drinks-menu {
  float: left;
  width: 45%; }
  .agrikol-drinks .agrikol-drinks-menu dl {
    float: none;
    width: auto; }
  .agrikol-drinks .agrikol-drinks-menu .drink-price {
    float: right; }
  .agrikol-drinks .agrikol-drinks-menu .drink-description {
    margin-bottom: 30px; }

.agrikol-drinks .agrikol-drinks-feature {
  border: 1px solid #000;
  float: right;
  padding: 20px 20px 30px 20px;
  position: relative;
  margin-bottom: 30px;
  text-align: center;
  width: 45%; }
  .agrikol-drinks .agrikol-drinks-feature p {
    margin-bottom: 5px; }
  .agrikol-drinks .agrikol-drinks-feature::before {
    border: 1px solid #000;
    content: " ";
    position: absolute;
    left: 4px;
    top: 4px;
    height: calc(100% - 10px);
    width: calc(100% - 10px); }
  .agrikol-drinks .agrikol-drinks-feature::after {
    content: "";
    background: url("../images/cocktail.png") 0 0 no-repeat;
    background-size: 100%;
    height: 174px;
    width: 65px;
    top: 33px;
    right: -23px;
    position: absolute; }
  .agrikol-drinks .agrikol-drinks-feature:last-child::after {
    content: "";
    background: url("../images/coconut.png") 0 0 no-repeat;
    background-size: 100%;
    height: 112px;
    width: 100px;
    right: 50%;
    position: absolute;
    bottom: -98px;
    top: auto; }

.agrikol-menu dl {
  text-align: right; }
  .agrikol-menu dl h3 {
    text-align: left; }
  .agrikol-menu dl dt {
    font-family: "Grand Hotel", cursive;
    font-size: 18px;
    float: left;
    text-transform: none; }
  .agrikol-menu dl dd {
    font-family: "Delius", cursive;
    margin-bottom: 20px; }

.agrikol-menu:after {
  display: none; }

footer section h1 {
  background: url("../images/logo.png") 0 0 no-repeat;
  background-size: 100%;
  height: 115px;
  margin: 0 auto;
  padding: 0;
  text-indent: -99999px;
  width: 230px; }

footer section:after {
  display: none; }

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
  .agrikol-info-hours,
  .agrikol-info-location,
  .agrikol-info-reservations,
  .agrikol-info-description,
  .agrikol-drinks dl,
  .agrikol-menu dl,
  .agrikol-drinks-menu,
  .agrikol-drinks .agrikol-drinks-feature {
    float: none !important;
    padding: 20px 0 !important;
    width: 100% !important; } }
